---
import Layout from "../layouts/Layout.astro";

const response = await fetch("http://127.0.0.1:5000/get_prompt");
const data = await response.json();

/* const data = {
    prompt: "Random prompt",
    ChatGPT: "ChatGPT's response",
    BARD: "BARD's response",
}; */
---

<script is:inline>
    var switcherinho = false;
    var userSwitcherinho = false;

    let position = true;
    let leftChatbot;
    let rightChatbot;

    var repeater;

    var mouseX = 0;
    var mouseY = 0;

    var leftBot = "ChatGPT";
    var rightBot = "BARD";

    var isShaking = true;

    window.onmousemove = (e) => {
        mouseX = e.x;
        mouseY = e.y;
    };

    function showTooltip(text) {
        document.getElementById("tooltip").innerHTML = text;
        document.getElementById("tooltip").style.display = "block";
        document.getElementById("tooltip").style.top = mouseY + 20 + "px";
        document.getElementById("tooltip").style.left = mouseX + "px";
    }

    window.onload = () => {
        leftChatbot = document.getElementById("left-chatbot");
        rightChatbot = document.getElementById("right-chatbot");

        let switchButton = document.getElementById("switch-button");
        switchButton.addEventListener("click", switchChatbots);

        leftChatbot.addEventListener("mouseover", (e) => {
            repeater = setInterval(() => {
                showTooltip("ChatGPT");
            }, 5);
        });
        leftChatbot.addEventListener("mouseout", (e) => {
            clearInterval(repeater);
            document.getElementById("tooltip").style.display = "none";
        });
        rightChatbot.addEventListener("mouseover", (e) => {
            repeater = setInterval(() => {
                showTooltip("BARD");
            }, 5);
        });
        rightChatbot.addEventListener("mouseout", (e) => {
            clearInterval(repeater);
            document.getElementById("tooltip").style.display = "none";
        });

        let leftAnswerBox = document.getElementsByClassName("answer-text")[0];
        let rightAnswerBox = document.getElementsByClassName("answer-text")[1];

        let textOne = leftAnswerBox.innerHTML;
        let textTwo = rightAnswerBox.innerHTML;

        let random = Math.round(Math.random());
        if (random == 1) {
            switcherinho = true;
            leftAnswerBox.innerHTML = textTwo;
            rightAnswerBox.innerHTML = textOne;
        }

        slowlyWriteText(leftAnswerBox.innerHTML, leftAnswerBox);
        slowlyWriteText(rightAnswerBox.innerHTML, rightAnswerBox);

        document.getElementById("left-generated").style.display = "none";
        document.getElementById("right-generated").style.display = "none";
    };

    function slowlyWriteText(text, element) {
        element.innerHTML = "";

        text = text.replaceAll("\n", " <br /> ");
        text = text.split("<br />");

        let lines = 0;
        let i = 0;
        let interval = setInterval(() => {
            if (lines >= text.length) {
                clearInterval(interval);
                return;
            }

            sliceEnd = Math.min(12, text[lines].length - i);
            element.innerHTML += text[lines].slice(i, i + 30);
            i += 30;

            if (i >= text[lines].length) {
                element.innerHTML += "<br />";
                lines++;
                i = 0;
            }
        }, 60);
    }

    function switchChatbots() {
        userSwitcherinho = !userSwitcherinho;

        if (isShaking) {
            isShaking = false;
            document.getElementById("switch-button").classList.remove("shaky");
        }

        if (position) {
            leftChatbot.style.left = "calc(150% + 100px)";
            rightChatbot.style.right = "calc(150% + 100px)";
        } else {
            leftChatbot.style.left = "50%";
            rightChatbot.style.right = "50%";
        }

        position = !position;
    }

    function checkAnswer() {
        if (isShaking) {
            isShaking = false;
            document.getElementById("switch-button").classList.remove("shaky");
        }

        if (switcherinho == userSwitcherinho) {
            document.getElementById("switch-button").style.backgroundColor =
                "#22BB33";

            document.getElementById("switch-icon").src = "check.png";
            document.getElementById("switch-icon").style.width = "36px";

            document
                .getElementById("switch-button")
                .classList.add("correct-after");

            document.getElementById("left-generated").childNodes[1].innerHTML =
                leftBot;
            document.getElementById("right-generated").childNodes[1].innerHTML =
                rightBot;
            document.getElementById("left-generated").childNodes[1].href =
                "https://chat.openai.com/";
            document.getElementById("right-generated").childNodes[1].href =
                "https://bard.google.com/";

            document.getElementById("left-generated").style.display = "block";
            document.getElementById("right-generated").style.display = "block";
        } else {
            document.getElementById("switch-button").style.backgroundColor =
                "var(--secondary)";

            document.getElementById("switch-icon").src = "x.png";
            document.getElementById("switch-icon").style.width = "30px";

            document
                .getElementById("switch-button")
                .classList.add("wrong-after");

            document.getElementById("left-generated").childNodes[1].innerHTML =
                rightBot;
            document.getElementById("right-generated").childNodes[1].innerHTML =
                leftBot;
            document.getElementById("left-generated").childNodes[1].href =
                "https://bard.google.com/";
            document.getElementById("right-generated").childNodes[1].href =
                "https://chat.openai.com/";

            document.getElementById("left-generated").style.display = "block";
            document.getElementById("right-generated").style.display = "block";

            setTimeout(() => {
                switchChatbots();
            }, 250);
        }

        document.getElementById("switch-button").style.cursor = "default";
        document
            .getElementById("switch-button")
            .removeEventListener("click", switchChatbots);

        document.getElementById("make-guess").innerHTML = "Next";
        document.getElementById("make-guess").addEventListener("click", () => {
            window.location.href = "/guess";
        });
        document.getElementById("make-guess").style.backgroundColor =
            "var(--primary)";
    }
</script>

<Layout title="Guess the Chatbot | ChatBotFight">
    <main>
        <p class="explanation-text">The Prompt</p>
        <h2 id="prompt-text">
            “{data.prompt}”
        </h2>
        <section id="bot-answers">
            <div class="answers">
                <p class="explanation-text">Answer #1</p>
                <div class="answer-text">{data.ChatGPT}</div>

                <div class="chatbot-logo">
                    <img
                        src="/gpt.png"
                        alt="ChatGPT logo"
                        id="left-chatbot"
                        class="chatbot"
                    />
                </div>

                <span id="left-generated" class="generated-by">
                    This text has been generated by
                    <a href="" class="brand-name" target="_blank">Bot name</a>
                </span>
            </div>
            <div class="answers">
                <p class="explanation-text">Answer #2</p>
                <div class="answer-text">{data.BARD}</div>
                <div class="chatbot-logo">
                    <img
                        src="/bard.png"
                        alt="Bard logo"
                        id="right-chatbot"
                        class="chatbot"
                    />
                </div>

                <span id="right-generated" class="generated-by">
                    This text has been generated by
                    <a href="" class="brand-name" target="_blank"> Bot Name</a>
                </span>
            </div>
            <button id="switch-button" class="shaky">
                <img src="arrows.png" alt="Switch button" id="switch-icon" />
            </button>
            <button
                class="primary-button confetti-button"
                id="make-guess"
                onclick="checkAnswer()"
            >
                Confrim your Guess
            </button>
        </section>
    </main>

    <div id="tooltip">Will be filled in by JavaScript</div>

    <p id="explanation">
        Guess which response was generated by which AI model.
    </p>
</Layout>

<style>
    @keyframes show-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    main {
        flex: 1;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0px calc((100% - 90rem) / 2) 0px calc((100% - 90rem) / 2);

        text-align: center;
    }

    .explanation-text {
        font-size: 24px;
        margin-bottom: 0;
    }
    #prompt-text {
        font-size: 40px;
        line-height: 1.1;

        color: var(--primary);
        margin-top: 15px;

        animation: show-up 0.5s ease-in-out;
    }

    #bot-answers {
        position: relative;

        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        grid-template-rows: 1fr;

        text-align: left;
    }
    .answers {
        position: relative;

        display: flex;
        flex-direction: column;
    }
    .answer-text {
        flex: 100;

        background-color: var(--white);

        border: 3px solid var(--gpt-grey);
        border-radius: 7px;
        box-sizing: border-box;

        padding: 20px;
        margin-top: 5px;

        font-size: 20px;

        min-height: 320px;
        max-height: 320px;
        overflow: auto;
        min-width: 100%;

        animation: show-up 0.75s cubic-bezier(0.44, 0.77, 0.1, 1.1);
    }
    .chatbot {
        position: absolute;

        top: calc(100% + 50px);

        transition: 0.45s cubic-bezier(0.44, 0.77, 0.1, 1.1);
    }
    #left-chatbot {
        left: 50%;
        transform: translateX(-50%);
    }
    #right-chatbot {
        right: 50%;
        transform: translateX(50%);
    }
    .generated-by {
        position: absolute;

        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        text-align: center;

        font-size: 17px;
        color: var(--gpt-grey);
        font-weight: 700;

        animation: text-show-up 0.5s cubic-bezier(0.44, 0.77, 0.1, 1.1);
    }

    @keyframes text-show-up {
        0% {
            opacity: 0;
            transform: translateY(-20px) translateX(-50%);
        }
        100% {
            opacity: 1;
            transform: translateY(0px) translateX(-50%);
        }
    }

    .brand-name {
        color: var(--primary);

        text-decoration: underline;
    }

    #switch-button {
        border: none;
        background-color: transparent;

        position: absolute;

        top: calc(100% + 65px);
        left: 50%;
        transform: translateX(-50%);

        background-color: var(--primary);
        width: 70px;
        height: 70px;
        border-radius: 15px;

        cursor: pointer;
        transition: 0.5s;
    }

    .shaky {
        animation: shaking 1.25s ease-in-out infinite 1s;
    }
    @keyframes shaking {
        0% {
            transform: translateX(-50%) rotate(0deg);
        }
        10% {
            transform: translateX(-50%) rotate(7deg);
        }
        20% {
            transform: translateX(-50%) rotate(-7deg);
        }
        30% {
            transform: translateX(-50%) rotate(7deg);
        }
        40% {
            transform: translateX(-50%) rotate(-7deg);
        }
        50% {
            transform: translateX(-50%) rotate(0deg);
        }
    }

    #switch-button img {
        width: 48px;

        transition: 0.25s cubic-bezier(0.04, 0.37, 0.36, 1) 0.025s;
    }
    #switch-button:hover img {
        rotate: 180deg;
        transform: scale(1.1);
    }
    #switch-button::after {
        content: "Click to change your choice";
        font-size: 20px;
        pointer-events: none;

        position: absolute;

        top: calc(100% + 15px);
        left: 50%;
        transform: translateX(-50%);

        min-width: 300px;
    }

    #make-guess {
        position: absolute;

        top: calc(100% + 210px);
        left: 50%;
        transform: translateX(-50%);

        background-color: var(--secondary);
    }

    #tooltip {
        display: none;

        position: absolute;

        width: 80px;

        background-color: #fff;
        border: 2px solid var(--black);
        color: var(--black);

        font-size: 18px;
        font-weight: 400;

        text-align: center;
        text-decoration: none;

        padding: 5px 10px;

        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);

        animation: show-up 0.15s ease-in-out;
    }

    #explanation {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
    }

    .correct-after:hover img {
        rotate: 0deg !important;
        transform: scale(1) !important;
    }
    .correct-after {
        animation: correct-shake 0.7s cubic-bezier(0.44, 0.77, 0.1, 1.1);
    }
    @keyframes correct-shake {
        0% {
            transform: translateX(-50%) translateY(0px);
        }
        50% {
            transform: translateX(-50%) translateY(-40px);
        }
        100% {
            transform: translateX(-50%) translateY(0);
        }
    }
    .wrong-after:hover img {
        rotate: 0deg !important;
        transform: scale(1) !important;
    }
    .wrong-after {
        animation: wrong-shake 0.7s cubic-bezier(0.44, 0.77, 0.1, 1.1);
    }
    @keyframes wrong-shake {
        0% {
            transform: translateX(-50%) rotate(0deg);
        }
        33% {
            transform: translateX(-50%) rotate(7deg);
        }
        66% {
            transform: translateX(-50%) rotate(-7deg);
        }
        100% {
            transform: translateX(-50%) rotate(0deg);
        }
    }
    .correct-after::after {
        content: "Correct!" !important;
    }
    .wrong-after::after {
        content: "Wrong!" !important;
    }
</style>
